/* ----------------------------------- COLORS ----------------------------------- */

$color-bg-main: hsl(225, 100%, 94%);
$color-bg-card: #fff;
$color-bg-details: hsl(225, 100%, 98%);
$color-primary: hsl(245, 75%, 52%);
$color-primary-hover: hsl(245, 83%, 68%);
$color-secondary: hsl(224, 23%, 55%);
$color-title: hsl(223, 47%, 23%);
